include ./inline-svg/svg-menu-icon
include ./inline-svg/svg-play-icon
include ./inline-svg/svg-services-icons
include ./inline-svg/svg-quote-icon
include ./inline-svg/svg-about

include ./components/navigation
include ./components/card