// Import BS4 buttons styles
@import '~bootstrap/scss/buttons';

// ----------------------------------------------

.btn {
  font-size: $fs-button-sm;
  padding: 1.25rem 4.25rem;
  text-transform: uppercase;
  @include brr(2.5);
  font-weight: $fw-bold;
  letter-spacing: 0.38px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 2px solid;
  z-index: 1;
  @include trans(0.4);

  &::before {
    content: '';
    display: block;
    @include size(0, 100%);
    @include absolute(top 0 left 50% right 50%);
    z-index: -1;
    transform: skew(25deg) translateX(-50%);
    @include trans(0.4);
  }

  &:hover {
    &::before {
      width: 120%;
    }
  }

  @include respond-below(sm) {
    font-size: $fs-button-md;
  }
}

.btn-primary {
  &::before {
    background: $secondary;
  }

  &:hover {
    background: $primary;
    border-color: $primary;
    color: $primary;
  }
}

.btn-secondary {
  color: $black;
  border-color: $secondary;

  &::before {
    background: $black;
  }

  &:hover {
    background: $secondary;
    border-color: $secondary;
    color: $secondary;
  }
}

.btn-link {
  display: inline-flex;
  text-transform: uppercase;
  font-size: $fs-button-sm;
  text-transform: uppercase;
  font-weight: $fw-bold;
  letter-spacing: 0.38px;
  align-items: center;
  position: relative;

  svg {
    @include absolute(left 0);
    @include trans(0.4);
  }

  span {
    margin-left: 3.8rem;
    margin-right: 1rem;
    @include trans(0.4);
  }

  &:focus,
  &:hover {
    color: $primary;

    svg {
      left: 100%;
    }

    span {
      margin-left: 0;
    }
  }
}
