// Import BS4 card styles
@import '~bootstrap/scss/card';

// ----------------------------------------------

.price-card {
  position: relative;
  box-shadow: 0 15px 30px rgba($color: $dark-grey, $alpha: 0.2);
  @include size(100%, 40rem);

  @include respond-below(lg) {
    &__face:nth-of-type(1) {
      height: 20rem;
    }

    &__heading {
      font-size: 2.5rem;
    }

    &__price-sign {
      font-size: 2rem;
    }

    &__price {
      font-size: 4rem;
    }
  }

  &__face {
    @include absolute(bottom 0 left 0);
    @include size(100%);
    display: flex;
    @include center;
    @include trans(0.4);

    @include respond-below(lg) {
      position: relative;
    }

    &:nth-of-type(1) {
      background: $light-grey;
      z-index: 2;
      position: relative;

      &::before {
        content: '';
        display: block;
        @include size(50%, 100%);
        @include absolute(top 0 left 0);
        background: $dark-grey;
      }
    }

    &:nth-of-type(2) {
      z-index: 1;
      padding-top: 13rem;

      @include respond-below(lg) {
        padding-top: 0;
      }
    }
  }

  &__container {
    z-index: 3;
  }

  &__heading,
  &__price-sign,
  &__price,
  &__small {
    @include trans(0.4);
  }

  &__heading {
    font-size: 3.5rem;
    font-weight: $fw-regular;
    letter-spacing: 5%;
  }

  &__price-sign {
    font-size: 4rem;
    font-weight: $fw-light;
  }

  &__price {
    font-size: 7rem;
  }

  &__small {
    font-size: 1.4rem;
  }

  @media only screen and (hover: hover) {
    &:focus,
    &:hover {
      .price-card__face:nth-of-type(1) {
        height: 13rem;
      }

      .price-card__heading {
        font-size: 2.5rem;
      }

      .price-card__price-sign {
        font-size: 2rem;
      }

      .price-card__price {
        font-size: 4rem;
      }
    }
  }
}
