// *** FONTS IMPORT ***

// BASE FONT - Open Sans
// LOGO FONT - Montserrat
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900|Montserrat:700');

// ---------------------------------------------------------

body {
  font-family: 'Lato', sans-serif;
  font-weight: $fw-regular;
}

strong {
  font-weight: $fw-black;
}

.heading-primary {
  font-size: $fs-heading-primary-lg;
  font-weight: $fw-light;
  text-transform: uppercase;
  letter-spacing: 1.15px;

  @include respond-below(md) {
    font-size: $fs-heading-primary-md;
  }

  @include respond-below(sm) {
    font-size: $fs-heading-primary-sm;
  }
}

.heading-secondary {
  font-size: $fs-heading-secondary-lg;
  font-weight: $fw-light;
  font-style: italic;
  letter-spacing: 0.95px;
  margin-bottom: 3rem;

  @include respond-below(lg) {
    font-size: $fs-heading-secondary-md;
  }

  @include respond-below(sm) {
    font-size: $fs-heading-secondary-sm;
  }

  &::after {
    content: '';
    display: block;
    @include size(20rem, 0.2rem);
    background-color: $primary;
    margin-top: 3rem;
  }

  &--center {
    &::after {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.heading-tertiary {
  font-size: $fs-heading-tertiary-sm;
  font-weight: $fw-regular;
  text-transform: uppercase;
  letter-spacing: 0.75px;

  @include respond-below(lg) {
    font-size: $fs-heading-tertiary-md;
  }
}

.prime-text {
  font-size: $fs-text-lg;
  font-weight: $fw-light;
  letter-spacing: 0.55px;
  line-height: 1.68;

  @include respond-below(xl) {
    font-size: $fs-text-md;
  }

  @include respond-below(sm) {
    font-size: $fs-text-sm;
  }
}

.paragraph {
  font-size: $fs-paragraph-sm;
  font-weight: $fw-light;
  line-height: 1.7;
  letter-spacing: 0.45px;

  &--center {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.blockquote {
  font-size: $fs-blockquote-md;
  font-weight: $fw-light;
  line-height: 1.6;
  letter-spacing: 0.95px;

  @include respond-below(xl) {
    font-size: $fs-blockquote-sm;
  }
}

.caption {
  font-size: $fs-caption;
  font-weight: $fw-light;
  text-transform: uppercase;
  letter-spacing: 1.95px;
}
