.top {
  height: 80rem;
  background: $gradient, iurl('top_bg.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

  @include respond-below(lg) {
    height: 72rem;
  }

  @include respond-below(md) {
    height: 65rem;
    margin-top: 6.5rem;
  }
}
