mixin svg-play-icon
  svg(width='28', height='28', viewbox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
    circle(cx='14', cy='14', r='13.5', stroke='#ED145B')
    path(d='M20 14.5L10.25 20.1292V8.87083L20 14.5Z', fill='#ED145B')