mixin svg-more-icon
  svg(width='28', height='28', viewbox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M15.4067 19.8216L20.799 15.0351C21.067 14.7973 21.067 14.4405 20.799 14.2027L15.1388 9.17838C14.8708 8.94054 14.4689 8.94054 14.201 9.17838C13.933 9.41622 13.933 9.77297 14.201 10.0108L19.3923 14.6189L14.4689 18.9892C14.201 19.227 14.201 19.5838 14.4689 19.8216C14.7368 20.0595 15.1388 20.0595 15.4067 19.8216Z', fill='#ED145B')
    path(d='M9.4067 19.8216L14.799 15.0351C15.067 14.7973 15.067 14.4405 14.799 14.2027L9.13876 9.17838C8.87081 8.94054 8.4689 8.94054 8.20096 9.17838C7.93301 9.41622 7.93301 9.77297 8.20096 10.0108L13.3923 14.6189L8.4689 18.9892C8.20096 19.227 8.20096 19.5838 8.4689 19.8216C8.73684 20.0595 9.13876 20.0595 9.4067 19.8216Z', fill='#ED145B')
    circle(cx='14', cy='14', r='13.5', stroke='#ED145B')
