//- PUG includes
include ./includes/main

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mache
    meta(name="description", content="Template with clean fonts and elegant design. Perfect for business, portfolio and blog sites.")
  body(data-spy="scroll" data-target="#main-nav")
    header#home.top
      +nav(["home", "about-us", "our-services", "prices", "contact"])
      .container.h-100            
        .row.h-100
          .col.align-self-center.text-center.u-text-white 
            h1.heading-primary.top__heading
              strong Mache 
              | Modern RWD Template
            p.prime-text.u-margin-bottom-xl Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eos.
              br
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet natus fugit facere.
            button.btn.btn-primary Show more
    
    section#about-us.bg-light.about
      .container
        .row
          .col-lg-12
            h2.heading-secondary.text-dark.about__heading Perfect for business, portfolio and blog sites!
          .col-lg-6.order-md-2.order-lg-1
            p.pr-lg-3.paragraph.u-margin-bottom-md Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            a.btn-link(href="#") 
              span See the Video
              +svg-play-icon
          .col-lg-6.d-none.d-md-block.order-md-1.order-lg-2.about__svg-wrapper
            +svg-about

    section#our-services.services
      .container
        .row
          .col.text-center
            h2.heading-secondary.heading-secondary--center.text-dark Our Services
            p.paragraph.paragraph--center.u-margin-bottom-xl Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        .row
          for item, index in ["FULLY EDITABLE", "FREE DOWNLOAD", "MODERN DESIGN", "100% RESPONSIVE"]
            .col-6.col-lg-3.text-center.mb-5.mb-lg-0
              .mx-auto.services__icon.u-margin-bottom-sm
                +svg-services-icons(index+1)
              h3.heading-tertiary.u-text-primary #{item}
            