mixin article-card(article,index)
  .card.ml-3.mr-3.article-card
    .article-card__image
      img(src=require(`./img/article_bg-${index+1}.jpg`)).card-img-top.img-fluid.article-card__img
    .card-body.bg-light.article-card__body
      h5.card-title.mb-3.heading-tertiary=article
      p.card-text.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate illo quibusdam mollitia excepturi, ipsum fugiat assumenda accusantium cumque esse minima quas est 
      a.btn-link.mt-5.pb-2(href="#") 
        span Go to Article
        +svg-more-icon