mixin card(card)
  .card.text-center
    .card-header.text-white.card__face
      .card__container
        h3.card__heading=card.type
        .card-title.mb-0.d-flex.justify-content-center
          span.align-self-center.mr-2.card__price-sign $ 
          h4.card__price=card.price
        small.d-block.card__small per month
    .card-body.card__face
      .card__container
        ul.list-unstyled.u-margin-bottom-md
          li.paragraph #{card.first} Projects
          li.paragraph #{card.second} Storage
          li.paragraph Notification settings
          li.paragraph Password protection
        button.btn.btn-primary BUY NOW 